{{template "base" .}}

{{define "content"}}
  <div class="container">
    <h1>HOME</h1>
    <p>here is some text</p>
    <p>and here is some text</p>

    <img src="/static/images/house.jpg" height="426" width="640">
  </div>
{{end}}